/*Base*/

body {
  text-align: center;
  background: linear-gradient(135deg, #219ebc, #8ecae6);
  color: #0d0d0d;
}

.main-content {
  margin: auto;
}

/*Text*/

h1 {
  color: #f79a31;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

h2 {
  color: #ffb703;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

h3 {
  color: #023047;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

/*Images*/

.portfolio-img {
  width: 300px;
  border-radius: 50%;
  border: 3px solid #023047;
}
